* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.canvasSize {
    height: 100vh;
}

.menu-modal {
    width: 50vw !important;
    max-width: 50vw !important;
    height: 100vh !important;
    max-height: 100vh !important;
}
